<a href="https://colab.research.google.com/github/Seele00/Physics305Astro/blob/master/Phys305Astro_lab_assignment_module3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **PS305 Lab Assignment** 
## Module 3: Using SQL Queries to Study Exoplanets

_Instructions_: Answer each part of the assignment as completely as you can. Discuss **all** your code and results as clearly and concisely as possible. 

_Scoring Criteria_: 50% - *correctness of code*; 50% - *discussion of the code and results*. Maximum score is **100 points** (Parts 1 and 2 are worth 40 and 60 points, respectively).

_Due Date_: **5PM of October 22 (Thu)**

_Credit_: This assignment is based on the Week 3 module of the Coursera course "Data-driven Astronomy", "Working on your own SQL queries" ([link](https://www.coursera.org/learn/data-driven-astronomy/home/welcome))

### Student Information 

_Full Name (Last Name, First Name)_: \
_Student No._:\
_Section_:

### Submission Information

_Date and Time Submitted (most recent upload)_: 

**HONOR PLEDGE** I affirm that I have upheld the highest principles of honesty and integrity in my academic work and that this lab assignment is my own work.

**Sign here with your full name:**

### Grading Information (c/o Instructor)

TOTAL SCORE: **[]**/100

Score breakdown:
* Part 1 - []/40
* Part 2 - []/60

_Date and Time Scored (MM/DD/YYYY HH:MM AM/PM):_ 0

For this assignment, you will need to connect to an SQL database using ```psycopg2```. Do this by running the code below.

In [1]:
!pip install pymysql

Requirement already satisfied: pymysql in /usr/local/lib/python3.6/dist-packages (0.10.1)

In [2]:
import psycopg2 as ps

# Establish the connection
conn = ps.connect(dbname='db', user='grok')
cursor = conn.cursor()

# Execute an SQL query and receive the output
cursor.execute('SELECT 2 + 3;')
records = cursor.fetchall()

print(records)

/usr/local/lib/python3.6/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

OperationalError: ignored

In [ ]:
from sqlalchemy import create_engine

MYSQL_HOSTNAME = 'aika-prod.ckfjfiqb1qvb.us-east-2.rds.amazonaws.com' # you probably don't need to change this
MYSQL_USER = 'FILL_IN'
MYSQL_PASSWORD = 'FILL_IN'
MYSQL_DATABASE = 'FILL_IN'

connection_string = f'mysql+pymysql://{MYSQL_USER}:{MYSQL_PASSWORD}@{MYSQL_HOSTNAME}/{MYSQL_DATABASE}'
connect_args = {'ssl': {'ca': '/content/rds-ca-2015-root.pem'}}

db = create_engine(connection_string, connect_args=connect_args)

Then, you can run SQL queries using the ```pandas read_sql``` function. Here is a sample query:

In [ ]:
import pandas as pd

query = """SELECT * FROM Planets;""".format(MYSQL_DATABASE)

planets_df = pd.read_sql(query, con=db)

Print the dataframe

In [ ]:
planets_df

#### PART 1: Planet statistics *(40 pts.)*

Let's analyse the size of the unconfirmed exoplanets. Your task is to write a query that calculates the:

* minimum radius;
* maximum radius;
* average radius; and
* standard deviation of the radii

of unconfirmed planets (with a NULL value in kepler_name) in the Planet table. It should look like this on the example data:
```
+------+---------+------------------+------------------+
| min  |   max   |       avg        |      stddev      |
+------+---------+------------------+------------------+
| 0.65 | 3462.25 | 275.517333333333 | 888.709924452829 |
+------+---------+------------------+------------------+
(1 row)
```

In [ ]:
select min(radius), max(radius), avg(radius), stddev(radius) 
from Planet
where kepler_name is null;

#### PART 2: Multi-planet systems *(60 pts.)*

You need to find out how many planets in the Planet database are in a multi-planet system. Planets sharing the same star will have the same kepler_id, but different koi_name values.

Your query should return a table in which each row contains the kepler_id of the star and the number of planets orbiting that star (i.e. that share this kepler_id).

Limit your results to counts above one and order the rows in descending order based on the number of planets.

The results should look like this:
```
+-----------+-------+
| kepler_id | count |
+-----------+-------+
|   4139816 |     4 |
|   8395660 |     4 |
|  10910878 |     3 |
|  10872983 |     3 |
|   5358241 |     3 |
|  10601284 |     3 |
|   3832474 |     3 |
|  11754553 |     3 |
|   9579641 |     3 |
|  12366084 |     2 |
|  11018648 |     2 |
|  11918099 |     2 |
|  12066335 |     2 |
|  10187017 |     2 |
|  10797460 |     2 |
|   3342970 |     2 |
|  12470844 |     2 |
|   5456651 |     2 |
+-----------+-------+
(18 rows)
```

In [ ]:
select kepler_id, count(koi_name)
from Planet
group by kepler_id
having count(koi_name) > 1
order by count(koi_name) desc;

[SCORE BREAKDOWN] 

Part 1:
* Correctness of Code: []/20
* Discussion: []/20
* Subtotal: []/40

Part 2:
* Correctness of Code: []/30
* Discussion: []/30
* Subtotal: []/60

Feedback: