<a href="https://colab.research.google.com/github/Seele00/Physics305Astro/blob/master/Phys305Astrolab_assignment_module4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **PS305 Lab Assignment** 
## Module 4: Using SQL and Python Queries on Exoplanet Data

_Instructions_: Answer each part of the assignment as completely as you can. Discuss **all** your code and results as clearly and concisely as possible. 

_Scoring Criteria_: 50% - *correctness of code*; 50% - *discussion of the code and results*. Maximum score is **100 points** (Parts 1 and 2 are worth 40 and 60 points, respectively).

_Due Date_: **5PM of November 5 (Thu)**

_Credit_: This assignment is based on the Week 4 module of the Coursera course "Data-driven Astronomy", "Combining SQL and Python" ([link](https://www.coursera.org/learn/data-driven-astronomy/home/welcome))

### Student Information 

_Full Name (Last Name, First Name)_: \
_Student No._:\
_Section_:

### Submission Information

_Date and Time Submitted (most recent upload)_: 

**HONOR PLEDGE** I affirm that I have upheld the highest principles of honesty and integrity in my academic work and that this lab assignment is my own work.

**Sign here with your full name:**

### Grading Information (c/o Instructor)

TOTAL SCORE: **[]**/100

Score breakdown:
* Part 1 - []/40
* Part 2 - []/60

_Date and Time Scored (MM/DD/YYYY HH:MM AM/PM):_ 0

For this assignment, you will need to connect to an SQL database using ```sqlalchemy```. Do this by running the code below.

In [ ]:
from sqlalchemy import create_engine

MYSQL_HOSTNAME = 'aika-prod.ckfjfiqb1qvb.us-east-2.rds.amazonaws.com' # you probably don't need to change this
MYSQL_USER = 'FILL_IN'
MYSQL_PASSWORD = 'FILL_IN'
MYSQL_DATABASE = 'FILL_IN'

connection_string = f'mysql+pymysql://{MYSQL_USER}:{MYSQL_PASSWORD}@{MYSQL_HOSTNAME}/{MYSQL_DATABASE}'
connect_args = {'ssl': {'ca': '/content/rds-ca-2015-root.pem'}}

db = create_engine(connection_string, connect_args=connect_args)

Then, you can run SQL queries using the ```pandas read_sql``` function. Here is a sample query:

In [ ]:
import pandas as pd

query = """SELECT * FROM Planets;""".format(MYSQL_DATABASE)

planets_df = pd.read_sql(query, con=db)

Print the dataframe

In [ ]:
planets_df

#### PART 1: Stars sorted by size *(40 pts.)*

Run the following SQL query and create a ```query``` function that performs the same query using Python ```numpy``` or ```pandas``` functions.
 
 ```
SELECT kepler_id, radius
FROM Star
WHERE radius > 1.0
ORDER BY radius ASC;
```

#### PART 2: Size ratios *(60 pts.)*

Let's add yet another element to our query. Join the Star table with the Planet table and calculate the size ratio, i.e. planet radius / star radius for each star-planet pair. Your ```query_size_ratio``` function should produce the same result as the SQL query:

 ```
SELECT p.radius/s.radius AS radius_ratio
FROM Planet AS p
INNER JOIN star AS s USING (kepler_id)
WHERE s.radius > 1.0
ORDER BY p.radius/s.radius ASC;
```
You can use your results from the last problem and then build up on that. The function must be named query, but this time it should take two filenames as arguments, for the stars and planets.

In planets.csv, the first column is the kepler_id and the second last column is the radius.

Your function should be a column vector of ratios, like this:
```
>>> query('stars.csv', 'planets.csv')
array([[  0.48798799],
       [  0.8260447 ],
       [  0.96209913],
       [  1.1556384 ],
       [  1.30403969],
       ...
```

[SCORE BREAKDOWN] 

Part 1:
* Correctness of Code: []/20
* Discussion: []/20
* Subtotal: []/40

Part 2:
* Correctness of Code: []/30
* Discussion: []/30
* Subtotal: []/60

Feedback: